table {
  text-align: center;
}

div {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 30px;
}

button {
    margin: auto;
    padding: 5px 10px;
    border: 1px solid grey;
    cursor: pointer;
  }

.circle {
  border-radius: 50%;
}

#one {
  background-color: red;
}

#two {
  background-color: blue;
}

#three {
  background-color: green;
}

#four {
  background-color: black;
}

.shadowed {
  box-shadow: 10px 5px 5px gray;
}

.interior-shadow {
  box-shadow: inset 10px 5px 5px gray;
}
