body {
    display: flex;
    /* justify-content: center; */
    min-height: 100vh;
    margin: 0;
    font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    position: relative;
    background-color: rgba(30, 30, 30, 1);
    /* background: linear-gradient(180deg, rgba(31,31,31,1) 50%, rgb(59, 134, 199)); */
    color: #d3d3d3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 2;

    h2 {
        margin: 0;
        padding: 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    max-height: 83vh;
    justify-content: center;
    align-items: center;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
}

input {
    outline: none;
    color: #d3d3d3;
    caret-color: #d3d3d3;
}

button:hover {
    cursor: pointer;
}

::placeholder {
    color: rgb(172, 172, 172);
}

#profileIcon {
    max-width: 52px;
    margin-right: 3%;
    background-color: rgba(20, 20, 20, 1);
    border-radius: 50%;
    transform-origin: center;
    transition: all 0.15s ease-in-out;
}

#profileIcon:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, 1);
}

#sideContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 1);
    border-radius: 0px 10px 10px 0px;
    min-height: 100vh;
    height: 100%;
    width: 14vw;
    margin-right: 3%;
    row-gap: 1vh;
}

.item {
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    width: 85%;
    height: fit-content;
    border-radius: 10px;
    transition: background-color 0.15s ease-in-out;

    img {
        margin-left: 3%;
        max-width: 32px;
    }
}

.item:hover {
    cursor: pointer;
    background-color: rgba(40, 40, 40, 1);
}

.focused {
    background-color: rgba(40, 40, 40, 1);
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid rgba(65, 65, 65, 1); */
    /* border-radius: 30px; */
    /* padding-left: 2%; */
    /* padding-right: 2%; */
    row-gap: 2vh;
}

#chatArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 65vw;
    height: 85%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* padding-right: 2%; */
    row-gap: 5vh;
    overflow: auto;
    background-color: rgba(20, 20, 20, 1);
    border-radius: 30px 0px 0px 30px;
    /* border: 1px solid rgba(65, 65, 65, 1); */
}

.user-message {
    border-radius: 1.5rem;
    width: fit-content;
    height: fit-content;
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-right: 2.75%;
    background-color: rgba(65, 65, 65, 1);
}

.ai-message {
    width: 95%;
    height: fit-content;
    margin-right: 2%;
    /* padding: 1%; */
}

.info-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin-right: 2.75%;
    height: fit-content;
    color: rgb(172, 172, 172);
    text-align: center;
}

.line {
    background-color: rgba(65, 65, 65, 1);
    width: 35%;
    height: 2px;
}

#promptArea {
    display: flex;
    width: 100%;
    height: fit-content;
    column-gap: 0.5vw;
    justify-content: center;
    align-items: center;
}

#prompt {
    background-color: rgba(65, 65, 65, 1);
    /* border: 5px solid rgba(65, 65, 65, 1); */
    border: none;
    border-radius: 1.5rem;
    width: 45vw;
    height: 5vh;
    padding-left: 2%;
    /* padding-right: 2%; */
}

#sendButton {
    background-color: rgba(65, 65, 65, 1);
    background-image: url("../Media/Pictures/send.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: large;
    color: #d3d3d3;
    border: none;
    border-radius: 100%;
    width: 2.5vw;
    height: 5vh;
    transition: background-color 0.15s ease-in-out;
}

#sendButton:hover {
    background-color: rgba(40, 40, 40, 1);
}