#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(65, 65, 65, 1);
    border-radius: 30px;
    max-width: 75vw;
    padding-left: 2%;
    padding-right: 2%;
    row-gap: 2vh;
}

#chatArea {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 100%;
    height: 85%;
    align-items: center;
    /* background-color: rgba(20, 20, 20, 1); */
    border: 1px solid rgba(65, 65, 65, 1);
}

#prompt {
    background-color: rgba(65, 65, 65, 1);
    /* border: 5px solid rgba(65, 65, 65, 1); */
    border: none;
    border-radius: 10px;
    width: 45vw;
    height: 5vh;
    padding-left: 2%;
    padding-right: 2%;
}

::placeholder {
    color: rgb(172, 172, 172);
}