body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: rgba(40, 40, 40, 1);
    border: none;
    border-radius: 5px;
    width: 12vw;
    height: 4vh;
    border: 1px solid rgba(65, 65, 65, 1);
    /* padding-left: 5%; */
    text-indent: 5%;
}

header {
    justify-content: center;
}

main {
    width: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
    background-color: rgba(20, 20, 20, 1);
    width: 25%;
    height: 30vh;
    border-radius: 15px;
    scale: 1.2;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    row-gap: 1vh;
}