body {
    flex-direction: column;
}

main {
    flex-direction: column;

    #profileIcon {
        position: absolute;
        left: 35%;
        width: 150px;
        height: 150px;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.line {
    margin-top: 10px;
    height: 2px;
    width: 100%;
}

#one {
    margin-bottom: 11vh;
    width: 33%;
}

#two {
    flex-direction: column;
    
    b {
        margin-top: 10px;
    }
}

#gearIcon {
    position: absolute;
    right: 43%;
}