body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

button {
    border: none;
    border-radius: 10px;
    font-size: large;
    width: 6vw;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
}

input {
    border: none;
    border-radius: 4px;
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    box-shadow: 0px 1px 15px lightgray;
    background-color: white;
    z-index: 1;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    box-shadow: 0px 1px 15px lightgray;
    background-color: white;
    z-index: 1;
}

a {
    transition: all 0.15s ease-in-out;
}

a:hover {
    color: #f9f946;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.subheader {
    display: flex;
    justify-content: flex-start;
    height: 10vh;
    width: fit-content;
    align-items: center;

    button {
        position: absolute;
        left: 7%;
        font-size: medium;
    }
}

.blue-button {
    color: white;
    background-color: #1ba5fa;
    transition: all 0.15s ease-in-out;
}

.blue-button:hover {
    color: #1ba5fa;
    background-color: white;
    border: 2px solid #1ba5fa;
}

.yellow-button {
    color: black;
    background-color: #f9f946;
    transform-origin: center;
    transition: all 0.15s ease-in-out;
}

.yellow-button:hover {
    color: #f9f946;
    background-color: black;
    transform: scale(1.15);
}

.white-button {
    color: #1ba5fa;
    background-color: white;
    border: 2px solid #1ba5fa;
    transition: all 0.15s ease-in-out;
}

.white-button:hover {
    /* color: white;
    background-color: #1ba5fa; */
    color: #f9f946;
    border-color: #f9f946;
}

.black-button {
    color: white;
    background-color: black;
}

.logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 76px;
    height: 69px;
    position: absolute;
    left: 1%;
}

.default-logo {
    background-image: url("../Media/Pictures/logo.png");
}

.light-logo {
    background-image: url("../Media/Pictures/logo_light.png");
}

#profileIcon {
    background-color: white;
    background-image: url("../Media/Pictures/pfp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    position: absolute;
    right: 2%;
    width: 60px;
    height: 60px;
    border: 1px solid #1ba5fa;
    border-radius: 100%;
    transition: border 0.15s ease-in-out;
}

#profileIcon:hover {
    border-color: #f9f946;
}

#searchBar {
    width: 20%;
    border: 2px solid #1ba5fa;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

#searchBar:hover {
    color: #f9f946;
    border-color: #f9f946;
}